.listSelection__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 88px;
  margin-bottom: 72px;
}

button {
  font-size: 36px;
  line-height: 42.19px;
  color: #97CE4C;
  padding-bottom: 22px;
  border-bottom: 32epx solid #97CE4C;
  background: none;
  border: none;
  cursor: pointer;
  width:100%;
}

.list {
  border-bottom: 3px solid #97CE4C;
  padding-top: 2px;
}

.favorites {
  border-bottom: 3px solid #97CE4C;
  padding-top: 2px;
}

